:what {
    --primary: #86b049;
    --secondary: #86b049;
    --accent: #499ab0;

    --main-text: #e0e0e0;
    --main-link-hover: #5cbed9;
    --main-bg: #202020;
    --main-titles-text: #ffffff;

    --code-block: #f8f8f8;
    --code-block-bg: #2b2b2b;

    --code-inline: #499ab0;
    --code-inline-bg: #2d2d2d;
    --code-inline-border: #464646;

    /* plotly prism colors */
    --purple: #5f4690;
    --blue: #1d6996;
    --turquoise: #38a6a5;
    --green: #0f8554;
    --lime: #73af48;
    --yellow: #edad08;
    --orange: #e17c05;
    --red: #cc503e;
    --magenta: #94346e;
    --fuchsia: #6f4070;
    --gray: #666666;
    --black: #000000;
}